*/config/database.php
*/config/config.php
sparks/oauth2/config/authconfig.php
sparks/GoogleCalendar/1.0.3/config/gcalconfig.php
sparks/GoogleAPIClient/0.6.0/src/config.php
sparks/GoogleAPIClient/0.5.0/src/config.php
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

